.background
{
	-fx-background-color:#48D1CC;
}

.barraSuperiorTabela{
	-fx-background-color:#008080;
}

.apMenu{
	-fx-pref-width:1000.0;
	-fx-pref-height:580.0;
	-fx-background-color:#008080;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area, .jfx-combo-box{
	-fx-prompt-text-fill: white;
	-fx-font-family: 'Century Gothic', Arial, sans-serif;
	-fx-text-fill:white;
	-fx-font-size:16;
	-jfx-focus-color: #D2691E;
	-fx-text-base-color:#FFFFFF;
	-jfx-unfocus-color: #F4A460;
	-fx-text-inner-color:white;	
}